<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.ManagerDAO">

    <select id="selectManagerByName" resultType="Manager">
        select * from t_user where mgrName = #{mgrName}
    </select>

    <insert id="insertManager">
        insert into t_user values(#{mgrName},#{mgrPwd},#{mgrSalt})
    </insert>
     
</mapper>
